body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    word-wrap: break-word;
}

header {
    background-color:  #2a2a2a;
    color: #f4f4f4;
    margin: 0;
}

header h1 {
    padding: 1rem 0;
    margin: 0 5rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.5rem;
}

main {
    margin: 0 5rem;
}

article {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: top;
    width: 100%;
    min-height: 35vh;
    margin: 1rem 0 0 0 ;
}

.top-cards article {
    width: 100%;
    min-width: 150px;
    max-width: 450px;
}

.currency-holder {
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.currency-value {
    width: 50%;
    text-align: end;
}

img {
    max-height: 300px;
    max-width: 300px;
    min-height: 100px;
    min-width: 100px;
}

.laptopcard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-top: solid 2px;
    padding: 2rem 0 0 0;
    margin: 2rem 0 0 0;
}

.buttoncontainer > * {
    width: 100%;
}

.loan {
    color: rgb(247, 22, 22);
}

.hide {
    display: none;
}

.button {
    border-radius: 5px;
    text-decoration: none;
    font-weight: 1000;
    cursor: pointer;
    border: none;
    padding: 0.7rem 2rem;
    max-width: 9rem;
}

.loanbutton {
    background-color: #18e76f;
}

.bankbutton {
    background-color: #e4e718;
}

.workbutton {
    background-color: #1872e7;
    color: white;
}

.repaybutton{
    background-color: #e718cb;
    color: white;
}

.buybutton {
    background-color: #18c8e7;
}
